# Node.js
api/node_modules/
api/npm-debug.log
api/.env

# Python
worker/__pycache__/
worker/.pytest_cache/
worker/.venv/
*.pyc
*.pyo
*.pyd
.Python

# Virtualenv
env/
venv/
ENV/

# Uploads
uploads/

# Database
db_data/
*.db

# Logs
*.log
logs/
debug.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

